// TIPOGRAFÍA BASE

h1,
h2,
h3,
h4 {
  font-family: $font-title;
  color: $color-primary;
  line-height: 1.3;
}

h1 {
  font-size: $font-xl;
}
h2 {
  font-size: $font-lg;
}
h3 {
  font-size: $font-md;
  font-weight: bold;
}

p {
  font-size: $font-md;
  color: $color-text-light;
  line-height: 1.7;
}
