// NAVBAR - BEM

.navbar {
  background-color: $color-primary;
  padding: $spacing-sm $spacing-lg;

  &__brand {
    font-family: $font-title;
    font-size: $font-lg;
    color: $color-accent;
    font-weight: bold;
  }

  &__link {
    color: $color-white;
    font-size: $font-sm;
    letter-spacing: 1px;
    padding: 0 $spacing-sm;

    &:hover {
      color: $color-accent;
    }
  }

  &__cta {
    @include boton($color-accent, $color-white, darken($color-accent, 10%));
  }
}
