// ================================
// TEMA DEFAULT - SmartBudget

// Colores de fondo por sección
.bg-dark {
  background-color: $color-primary;
}
.bg-light {
  background-color: $color-bg;
}
.bg-white {
  background-color: $color-white;
}

// Colores de texto utilitarios
.text-accent {
  color: $color-accent;
}
.text-light {
  color: $color-text-light;
}
.text-center {
  text-align: center;
}
